<!DOCTYPE html>

<html lang="pl">
	<head>
		<meta https-equiv="content-type" content="text/html;" charset="UTF-8">
		<link rel="stylesheet" href="/static/css/szablon1.css">
		<title> Bezpieczna Strona </title>
	</head>

	<body>
		<h2>Czy Twoje hasło okazało się za mało bezpieczne?</h2>
		<h3>Twoje dane są u nas bezpieczne</h3>
		<form id="formularz" action="/changeSuccesful" method="post" onSubmit="return submitForm();">
			<p> Stare hasło </p>
			<input type="text" id="oldPassword" name="oldPassword">

			<p> Nowe hasło </p>
			<input type="text"  id="newPassword" name="newPassword" oninput="measureStrength();comparePasswords()">
			<span id="passwordInfo"> </span></br>
			<p> Powtórz nowe hasło </p>
			<input type="text"  id="newPasswordAgain" oninput="comparePasswords()">
			<span id="passwordAgainInfo"> </span></br>

			<input type="submit" value="Zmień">
			<span id="submitInfo"> </span></br>
		</form>
		<script src="/static/js/changePassword.js"></script>
	</body>
<html>

