<!DOCTYPE html>

<html lang="pl">
	<head>
		<meta https-equiv="content-type" content="text/html;" charset="UTF-8">
		<link rel="stylesheet" href="/static/css/szablon1.css">
		<title> Bezpieczna Strona </title>
	</head>

	<body>
		<h2>Czy Twoja pamięć nie jest tak bezpieczna jak nasza strona?</h2>
		<h3>Twoje dane są u nas bezpieczne</h3>
		<form id="formularz" action="/recoverSend" method="post">
			<p> Login </p>
			<input type="text" id="login" name="login" >

			<p> Na mail który podałeś podczas rejestracji zostanie wysłane nowe hasło. </p>
			<input type="submit" value="Odzyskaj">
		</form>
	</body>
<html>

